html.dark {
  // Theme specific (Dark)
  --bg-primary: #000000;
  --bg-secondary: #111111;
  --bg-navbar: rgba(0, 0, 0, 0.7);
  
  --text-primary: #ffffff;
  --text-secondary: #888888;
  --text-muted: #888888;
  
  --border-color: rgba(255, 255, 255, 0.1);
  
  --nav-link-color: var(--text-secondary);
  --nav-link-hover: var(--text-primary);
  --nav-link-active: #0d96f2; // As seen in _dark.scss
}
